<?php

declare(strict_types=1);

require __DIR__.'/../vendor/autoload.php';

# 微信公众号或小程序 appid/secret（必填）
const WECHAT_APPID = 'your_wechat_appid';
const WECHAT_SECRET = 'your_wechat_secret';

# 微信开放平台应用号/密钥（选填）
const WECHAT_OPEN_APPID = null;
const WECHAT_OPEN_SECRET = null;

# 微信支付商户号/密钥（选填）
const WECHAT_MCHID = null;
const WECHAT_MCHKEY = null;

# 微信支付商户客户端证书（选填）
const WECHAT_CLIENT_CERT = null;
const WECHAT_CLIENT_KEY = null;
