<?php

declare(strict_types=1);

// appid 微信公众号/小程序/开放平台帐号
// secret 微信公众号/小程序/开放平台秘钥

return [
    // 小程序
    'miniapp' => [
        'appid' => 'your_appid',
        'secret' => 'your_secret',
    ],
    // 公众号
    'mp' => [
        'appid' => 'your_appid',
        'secret' => 'your_secret'
    ],
    // 开放平台
    'open' => [
        'appid' => 'your_appid',
        'secret' => 'your_secret',
    ],
];
