parameters:
    level: 9
    paths:
        - src
        - tests
    bootstrapFiles:
        - tools/vendor/bin/.phpunit/phpunit/vendor/autoload.php
    ignoreErrors:
        - '#no value type specified in iterable type array#'
        - '#no value type specified in iterable type iterable#'
        - { message: '#Call to function method_exists#', path: src/Message/TemplateMessage.php }
        - { message: '#Binary operation "." between#', path: src/Jsapi/ConfigUtils.php }
